:host {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
    margin: 16px;
    max-height: calc(100% - 16px);
    overflow: auto;
    border-radius: 4px;
    background: #ebebeb;

    .card-interactive {
        text-align: left;
        vertical-align: top;
        margin: 8px;
        width: 25%;
        min-width: 200px;

        &__form-field {
            display: block;
        }

        &--main {
            border: 2px solid lightblue;
        }
    }

    .card-status,
    .mat-divider {
        margin: 8px;
    }

    .router-outlet {
        font-weight: bold;
    }

    .width-full {
        width: 100%;
    }
}
